<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tvshowbox</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>BoxMovies</string>
			<key>CFBundleTypeName</key>
			<string>Packed TV Show</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.popbones.Bundlr.tvshowbox</string>
			</array>
			<key>LSTypeIsPackage</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>moviebox</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>BoxMovies</string>
			<key>CFBundleTypeName</key>
			<string>Packed Movie</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.popbones.Bundlr.moviebox</string>
			</array>
			<key>LSTypeIsPackage</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>musicbox</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>BoxMusic</string>
			<key>CFBundleTypeName</key>
			<string>Packed Music</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.popbones.Bundlr.musicbox</string>
			</array>
			<key>LSTypeIsPackage</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>appbox</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>BoxApplications</string>
			<key>CFBundleTypeName</key>
			<string>Packed Application</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.popbones.Bundlr.appbox</string>
			</array>
			<key>LSTypeIsPackage</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>privatebox</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>BoxPrivate</string>
			<key>CFBundleTypeName</key>
			<string>Private Box</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.popbones.Bundlr.privatebox</string>
			</array>
			<key>LSTypeIsPackage</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>picturebox</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>BoxPictures</string>
			<key>CFBundleTypeName</key>
			<string>Packed Picture</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.popbones.Bundlr.picturebox</string>
			</array>
			<key>LSTypeIsPackage</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>docbox</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>BoxStudy</string>
			<key>CFBundleTypeName</key>
			<string>Packed Document</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.popbones.Bundlr.docbox</string>
			</array>
			<key>LSTypeIsPackage</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>devbox</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>BoxEngineering</string>
			<key>CFBundleTypeName</key>
			<string>Packed Developer</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.popbones.Bundlr.devbox</string>
			</array>
			<key>LSTypeIsPackage</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>box</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>BoxGeneric</string>
			<key>CFBundleTypeName</key>
			<string>Packed</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.popbones.Bundlr.box</string>
			</array>
			<key>LSTypeIsPackage</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gamebox</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>BoxGeneric</string>
			<key>CFBundleTypeName</key>
			<string>Packed Game</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.popbones.Bundlr.gamebox</string>
			</array>
			<key>LSTypeIsPackage</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>animeibox</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>BoxGeneric</string>
			<key>CFBundleTypeName</key>
			<string>Packed Anime</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.popbones.Bundlr.animebox</string>
			</array>
			<key>LSTypeIsPackage</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mangabox</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>BoxGeneric</string>
			<key>CFBundleTypeName</key>
			<string>Packed Manga</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.popbones.Bundlr.mangabox</string>
			</array>
			<key>LSTypeIsPackage</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>library</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Box</string>
			<key>CFBundleTypeName</key>
			<string>Bundlr Library</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.popbones.Bundlr.library</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>booxbox</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>BoxGeneric</string>
			<key>CFBundleTypeName</key>
			<string>Packed Book</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.popbones.Bundlr.bookbox</string>
			</array>
			<key>LSTypeIsPackage</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>AppBoxPackageIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.popbones.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSMinimumSystemVersion</key>
	<string>${MACOSX_DEPLOYMENT_TARGET}</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2013 Popbones. All rights reserved.</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSSupportsSuddenTermination</key>
	<true/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.bundle</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Bundlr Library</string>
			<key>UTTypeIconFile</key>
			<string>Box</string>
			<key>UTTypeIdentifier</key>
			<string>com.popbones.Bundlr.library</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>library</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
				<string>public.composite-content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Box</string>
			<key>UTTypeIconFile</key>
			<string>BoxGeneric</string>
			<key>UTTypeIdentifier</key>
			<string>com.popbones.Bundlr.box</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>box</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.popbones.Bundlr.box</string>
			</array>
			<key>UTTypeDescription</key>
			<string>TV Show Box</string>
			<key>UTTypeIconFile</key>
			<string>BoxMovies</string>
			<key>UTTypeIdentifier</key>
			<string>com.popbones.Bundlr.tvshowbox</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>tvshowbox</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.popbones.Bundlr.box</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Movie Box</string>
			<key>UTTypeIconFile</key>
			<string>BoxMovies</string>
			<key>UTTypeIdentifier</key>
			<string>com.popbones.Bundlr.moviebox</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>moviebox</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.popbones.Bundlr.box</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Music Box</string>
			<key>UTTypeIconFile</key>
			<string>BoxMusic</string>
			<key>UTTypeIdentifier</key>
			<string>com.popbones.Bundlr.musicbox</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>musicbox</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.popbones.Bundlr.box</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Application Box</string>
			<key>UTTypeIconFile</key>
			<string>BoxApplications</string>
			<key>UTTypeIdentifier</key>
			<string>com.popbones.Bundlr.appbox</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>appbox</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.popbones.Bundlr.box</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Private Box</string>
			<key>UTTypeIconFile</key>
			<string>BoxPrivate</string>
			<key>UTTypeIdentifier</key>
			<string>com.popbones.Bundlr.privatebox</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>privatebox</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.popbones.Bundlr.box</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Pictures Box</string>
			<key>UTTypeIconFile</key>
			<string>BoxPictures</string>
			<key>UTTypeIdentifier</key>
			<string>com.popbones.Bundlr.picturebox</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>picturebox</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.popbones.Bundlr.box</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Document Box</string>
			<key>UTTypeIconFile</key>
			<string>BoxStudy</string>
			<key>UTTypeIdentifier</key>
			<string>com.popbones.Bundlr.docbox</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>docbox</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.popbones.Bundlr.box</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Developer Box</string>
			<key>UTTypeIconFile</key>
			<string>BoxEngineering</string>
			<key>UTTypeIdentifier</key>
			<string>com.popbones.Bundlr.devbox</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>devbox</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.popbones.Bundlr.box</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Game Box</string>
			<key>UTTypeIconFile</key>
			<string>BoxGeneric</string>
			<key>UTTypeIdentifier</key>
			<string>com.popbones.Bundlr.gamebox</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>gamebox</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.popbones.Bundlr.box</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Anime Box</string>
			<key>UTTypeIconFile</key>
			<string>BoxGeneric</string>
			<key>UTTypeIdentifier</key>
			<string>com.popbones.Bundlr.animebox</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>animebox</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.popbones.Bundlr.box</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Manga Box</string>
			<key>UTTypeIconFile</key>
			<string>BoxGeneric</string>
			<key>UTTypeIdentifier</key>
			<string>com.popbones.Bundlr.mangabox</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mangabox</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.popbones.Bundlr.box</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Book Box</string>
			<key>UTTypeIconFile</key>
			<string>BoxGeneric</string>
			<key>UTTypeIdentifier</key>
			<string>com.popbones.Bundlr.bookbox</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>bookbox</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
